body {
    background-color: #EAC926;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.titulares {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.cuerpo-de-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}