@import url('header.css');
@import url('footer.css');

.precios {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.descuentos {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.descripciones {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.burger-menu {
  
    color: blue;
    padding: auto;
    border: 2px;
}
